
/* NAVBAR CSS START FROM HERE  */
.mainnavbar li
{
  list-style-type: none;     
  display:inline-flex; 
  right:-74%;
  padding: 10px;
  position: relative;
  color:#fff;
  height: 50px;
  margin-bottom: -5px;
  margin-top: -5px;
}
.navbar1
{       
  background-color: #12122a;
  width:100%;
}
.navbar1 ul{
  margin-bottom: 0rem!important;
}
.mainnavbar .verticalline
{
  border-right: 1px solid #dcdada6f;
  height:40px;
}

.navbutton button
{
  border: none;
  background-color: #08d665;
  margin-top:-5px;
  margin-bottom:-5px;
  margin-left: -11px;
  color:#fff;
}
.navbutton button:hover
{
background-color: transparent;
color:#08d665;
}

.verticalline:hover
{
  color:#70dda1;
}

/* .mainnavbar2 li
{
  list-style-type: none;     
  display:inline-flex; 
  padding: 20px;
  position: relative;
  color:#fff;   
  margin-top: -10px;          
}

.mainnavbar2 li:hover
{
color:#9af9c5;
}
.navbar2
{       
  background-color: #000;
  width:100%;
  height: 80px;
} */

.navitem 
{
  position: relative;
  top:-20px;
  right:-20%;
}

.navlist 
{
  right:-35%;
}
.navlistt
{
  padding-right:-38%;
}

.fafaicon 
{
  margin-right: 15%;
  color:#08d665;
  font-size: 20px;
  margin-top: -5%;
}
.navbar1 ul{
  margin-bottom: 0rem!important;
}
.navbar2 > ul > li:after{
  position: absolute;
  content: "";
  height: 1px;
  width: 20%;
  background: #08d665;
  left: 0;
  bottom: 0;
  visibility: hidden;
  opacity: 0;
  transition: all .3s;
}
.navbar2 > ul > li:hover:after, .navbar2 > ul > li.current:after {
  width: 100%;
  visibility: visible;
  opacity: 1;
  transition: all .3s;
}
/* NAVBAR CSS END  HERE  */

/* navbar header start  */
.logo img
{
  position: relative;
  top:-7px;
  color:#fff;
}
.navbar {
  height: 60px;
  background-color: #12122a;
  position: relative;
}

.menu-icon {
  display: none;
}

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 60px;
}

.nav-elements ul a {
  font-size: 20px;
  font-weight: 400;
  color: #2f234f;
  text-decoration: none;
  color:#fff;
  font-family: 'Times New Roman', Times, serif;
}

.nav-elements ul a.active {
  color: #08D665;
  font-weight: 500;
  position: relative;
}

.nav-elements ul a.active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #08D665;
}

@media (max-width: 768px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
  }
}

@media (max-width: 600px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .nav-elements {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #12122a;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .nav-elements.active {
    width: 270px;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }
  .mainnavbar{
    position: relative;
    right: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .menu-icon svg{
    display: block!important;
    }
    /* .mainnavbar2 a .navitem{
      color: #000!important;
    } */
    .menu-open {
      display: block; /* Show the menu */
    }
    .navitem{
      color: #000!important;
    }
    .navbar1{
      position: fixed!important;
      z-index: 999; 
      box-shadow: 0px 2px 5px #12122a; 

    }
    .navbar{
margin-top: 40px;
    }
    .allnavbar{
      height: 100px;
    }
    
}


.mainnavbar2.menu-open {
  display: flex; /* Show menu when open */
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 9999; 
  box-shadow: 0px 2px 5px #12122a; 
}

/* NEW NAVBAR END HERE */

/* CONTACT US PAGE  */
.contactheading1 hr
{
  border-bottom: 2px solid #08D665;
  position: relative;
  width: 12%;
  left: -50px;
  top: 0px;
}
.cont 
{
position: relative;
left:85px;
font-weight: 700;
top:-35px;
color:#fff;
}
.contactheading
{
  font-size: 40px;
  font-weight: 700;
  color:#08D665;
}

.howicanhelp span
{
  font-size: 30px;
  font-weight: 700;
  position: relative;
  left:-18px;
  color:#fff;
  font-style: italic;
}

.contactdetails input
{
  width:100%;
  height:40px;
}
.contactdetails textarea
{
  width:100%;
  height:100px;
}
.contactsubmitt button
{
  background-color: #08D665;
  border: none;
  height:40px;
  font-weight: 700;
  font-size: 20px;
}
.headingbold 
{
  font-size: 24px;
  font-weight: 1000;
  padding-top: 30px;
}
.mycontactinfophone
{
  border:none;
  width:100%;
  height:200px;
  background-image: url(/public/assets/image/Phone.png);
  background-size: 100%,100%;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; 

}
.mycontactinfophone:hover
{
  transform: translateX(5px); /* Move the image up by 5px */
  /* opacity: 0.10; */
}
.mycontactinfophone p
{
  color: #fff;
  font-weight: 700;
}
.mycontactinfoemail
{
  border:none;
  width:100%;
  height:200px;
  background-image: url(/public/assets/image/Email.png);
  background-size: 100%,100%;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.mycontactinfoemail:hover
{
  transform: translateX(5px); /* Move the image up by 5px */
  opacity: 0.8;
}
.mycontactinfoemail p
{
  color: #fff;
  font-weight: 700;
}
.mycontactinfoaddress
{
  border:none;
  width:100%;
  height:200px;
  background-image: url(/public/assets/image/Address.png);
  background-size: 100%,100%;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; 
}
.mycontactinfoaddress
{
  border:none;
  width:100%;
  height:200px;
  background-image: url(/public/assets/image/Address.png);
  background-size: 100%,100%;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; 
}
.mycontactinfoaddress:hover
{
  transform: translateX(5px); /* Move the image up by 5px */
  opacity: 0.8;
}
.mycontactinfoaddress p
{
  color: #fff;
  font-weight: 700;
}
.headdddd{
  /* position: fixed; */
  width: 100%;
  z-index: 9999;
}
@media only screen and (max-width: 600px) 
{
  /* .contactsubmitt button
  {
    position: relative;
    right:-40%;
  } */
  .contactheading1 hr
  {
    border-bottom: 2px solid #08D665;
    position: relative;
    width: 30%;
    left: -50px;
    top: 0px;
  }
  .cont 
{
position: relative;
left:83px;
font-weight: 700;
top:-35px;
color:#fff;
}
}
/* CONTACT US CSS END HERE */

/* ABOUT PAGE  */
.horizontallineeeee
{
  position: relative;
  right:-35%;
}
.headingbolddd
{
  font-size: 40px;
  font-weight: 700;
 color:#08D665;
}
.aboutme hr
{
  border-bottom: 2px solid #08D665;
  width: 14%;          
  margin-left:0px;    
  top: 0px;
}
.aboutme 
{
overflow: hidden;
}

.who
{
  position: relative;
  font-weight: 700;
  top:-35px;
  padding-left:115px; 
  color:#fff;    
}
.aboutmequote span
{
  font-size: 30px;
  color:#2e3d44;
  font-weight: 500;
  text-shadow: 2px 2px #ff0000;
}
.aboutmequote .quoteproviderrrrr
{
  color:#ff0000;
  font-weight: 700;
  text-shadow: 2px 2px #000;
}
.aboutmeparagraph p
{
  color:#fff;
}

.cvpdff button 
{
  background-color: #08D665;
  border: none;
  color:#f9f9f9;
  width:auto;
  padding:10px;
  font-weight: 600;
}
.cvpdff  a:hover
{
  color:#000;
  font-weight: 600;
}
.cvpdff a 
{
  color:#f9f9f9;
  text-decoration: none;
}


/* EXPERIENCE PAGE START FROM HERE */
.look
{
  position: relative;
  font-weight: 700;
  top:-35px;
  padding-left:115px;
  color:#fff;
}
.experience hr
{
  border-bottom: 2px solid #08D665;
  position: relative;
  width: 7%;
  left: -60px;
  top: 0px;
}

.entirebox
{
  background-color:#000 ;
  border-radius: 35px;
}
.backgroundcolorr
{
  background-color: #12122a;
}

/* .shiftingtext a
{
  color:#08d665;
  text-decoration: none;
}
.shiftingtext a:hover
{
  color:#09733c;
} */

.headingcolor ul
{
  color: #fff !important;
}
.togglemenu 
{
  position: relative;
  top:-10px;
  color: #fff;
  font-size: 25px;
}
@media only screen and (max-width: 600px) 
{
  .horizontallineeeee
{
  position: relative;
  right:-25%;
  width:20% !important;
}
.who 
{
  left:-1%;
}
  .backgroundcolorr
  {
    background-color: #12122a;
  }
  .submitbutton 
  {
    background-color: #08D665;
    border: none;
    height:40px;
    font-weight: 700;
    font-size: 20px;
    width:100%;
  }
  .experience hr
{
  border-bottom: 2px solid #08D665;
  position: relative;
  width: 20%;
  left: -60px;
  top: 0px;
}
}
.submitbutton 
{
  background-color: #08D665;
  border: none;
  height:40px;
  font-weight: 700;
  font-size: 20px;
  width:100%;
  color:#fff;
}

/* SKILLS PAGE START FROM HERE */
.takealook
{
  position: relative;
  font-weight: 700;
  top:-35px;
  padding-left:100px;
  color:#fff;
}
.WorkLogos img
{
  height:100px;
  width:100px;
}

@media only screen and (max-width: 600px) 
{
.WorkLogos img
{ 
  margin:10px;
  top:50px;
  width:150px;
  height:150px;
}
.worklogo img
{
  top: 30px !important;;
}
.techskillsihave hr
{
  border-bottom: 2px solid #08D665;
  position: relative;
  width: 30% !important;
  left: -50px;
  top: 0px;
}
.servicesicanprovide hr
{
  border-bottom: 2px solid #08D665;
  position: relative;
  width: 20% !important;
  left: -50px;
  top: 0px;
}
}
  .skillsihave
  {
  position: relative;
  font-weight: 700;
  top:-35px;
  padding-left:160px;
  color:#fff;
  }

.techskillsihave hr
{
  border-bottom: 2px solid #08D665;
  position: relative;
  width: 10%;
  left: -50px;
  top: 0px;
}
.servicesicanprovide hr
{
  border-bottom: 2px solid #08D665;
  position: relative;
  width: 6%;
  left: -50px;
  top: 0px;
}
.skillslogo img
{
  width:150px;
  height:150px;
}
.skillslogoheading h4
{
  color:#fff;
  font-size: 25px;
  font-weight: 700;
  font-style: italic;
}
/* .reactlogo img
{
  width:230px;
  height:150px;
}
.vscodelogo img
{
  width:300px;
  height:200px;
}
.dbeavertlogo img
{
  width:300px;
  height:200px;
} */

.OwlCarousellogo img
{
  height:200px;
}

.OwlCarousellogo
{
  border:2px solid #fff;
  margin:10px;
  border-radius: 10px;
  background-color: #fff;
}
.myimage img
{
  /* border-radius: 5px 30px 5px 10px; */
  padding-top: 50px;
  height:400px;
  width:200px;
}

/* NEW EXPERIENCE PAGE START FROM HERE */
.expereincebox 
{
background-color: #010101;
border-radius: 0px 25px 0px 25px;
padding:10px;
border:2px solid #aeaeae;
}
/* .expereincebox:hover 
{
background-color:#343434;
} */
.position h4
{
  color:#08D665;
  font-style: italic;
}
.year p
{
  color:#fff;
  font-style: italic;
  font-weight: 600;
}
.myworkhere p
{
  color:#aeaeae;
}
.joingingyear 
{
  font-size: 30px;
  color:#ff0000;
  padding:0px 5px;
}
@media only screen and (max-width: 600px) 
{
  .joingingyear 
{
  font-size: 30px;
  font-weight: 700;
  padding:0px 5px;
  color: #ff0000;
}
/* .expereincebox:hover 
{
background-color:#343434 !important;
} */
.myname h1
{
  color:#fff;
  position: relative;
  right:0 !important;
  text-align: center;
  /* padding-bottom:59% !important; */
}
.footerbar li:hover
{
  color:#08d665 !important; 
}
.skillslogo:hover
{
background-color: #343434 !important;
} 
}
.companyname h5 
{
  color:#aeaeae;
  font-style: italic;
}


.namastegif img
{
  height:380px;
  width:280px;
}
.mohitnegi 
{
  color:#08D665;
  font-weight: 700;
  font-weight: 100px !important;
}
.myname h1
{
  color:#fff;
  position: relative;
  right:-80px;
  /* padding-bottom:5px; */
}

.footerbar li
{
  list-style-type: none;
  display: inline-flex;
  padding:0px 15px;
  color:#fff;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}


/* .active-link {
  font-weight: bold;
  color: #08d665; 
} */

.footer-nav a {
  text-decoration: none; 
  color: inherit; 
}

.footer-nav a.active-link {
  font-weight: bold; 
  color: #08d665; 
  text-decoration: underline;
}

.copyrights p
{
  color:#fff;
}

.footerbar li
{
  list-style-type: none;     
  display:inline-flex; 
  padding: 0px 10px;
  position: relative;
  color:#fff;
  height: 50px;
}

/* .footerbar li:hover
{
  color:#08d665 !important; 
} */

.skillsname 
{
  color:#fff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.workname
{
  color:#fff;
  font-weight:  700;
  font-size: 22px;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
.workname:hover
{
  color:#aeaeae !important;
}

 .skillslogo:hover
{
background-color: #343434;
} 

.react img
{
  width: 50% !important;
}

/* EDUCATION */
.Education hr 
{
  position: relative;
  border-bottom: 2px solid #08D665;
  width:10%;
  right:3%;
}
.learning 
{
  position: relative;
  color: #fff;
  font-weight: 700;
  top:-35px;
  padding-left: 12%;
}
@media only screen and (max-width: 600px) 
{
  .Education hr 
{
  position: relative;
  border-bottom: 2px solid #08D665;
  width:25%;
  left:-10%;
}
.learning 
{
  position: relative;
  color: #fff;
  font-weight: 700;
  top:-35px;
  padding-left:142px; 
}
.vl
{
  display:none;
}
.educationbox1 
{
border:2px solid #fff;
width:100%;
margin-bottom: 0 auto;
margin-left:5% !important;
margin-right: 5% !important;
border-radius: 0% 20% 0% 20%;
}
.educationbox2
{
border:2px solid #fff;
width:100%;
margin-right: 5% !important;
margin-left:5% !important;
border-radius: 0% 20% 0% 20%;
margin-top:-5% !important;
}
.educationbox3
{
border:2px solid #fff;
width:100%;
margin-bottom: 20%;
margin-right: 5% !important;
margin-left:5% !important;
border-radius: 0% 20% 0% 20%;
padding: 3%;
margin-top:15% !important;
}
.educationbox4
{
border:2px solid #fff;
width:100%;
margin-top: 20%;
margin-right: 5% !important;
margin-left:5% !important;
border-radius: 0% 20% 0% 20%;
padding: 3%;
margin-top:-5% !important
}
.educationbox1:hover
{
border:2px solid blue;
background-color: #343434;
}
.educationbox2:hover
{
border:2px solid blue;
background-color: #343434;
}
.educationbox3:hover
{
border:2px solid blue;
background-color: #343434;
}
.educationbox4:hover
{
border:2px solid blue;
background-color: #343434;
}
.projectboxx:hover {
  background-color: #f0f0f0; /* Change background color */
  border-color: #00A1E5; /* Change border color */
  transform: scale(1.05); /* Slightly enlarge the box */
}
.projectboxx {
  border: 3px solid #08D665;
  border-radius: 10px;
  width: 100%;
  margin-top: 30% !important;
  transition: all 0.5s ease-in-out; /* Smooth transition for all properties */
}
.projectboxx:hover .ProjectDetails p {
  color: #000; /* Change text color on hover */
}
.projectboxx:hover .projectvideo h4 {
  color: #08d665; /* Change text color on hover */
}
}
.vl
{
  position: relative;
  border-right: 2px solid green ;
  height: 600px;
  text-align: center;
  right: 50%;
}

.educationyear h1
{
  color:#fff;
  font-size: 45px ;
  font-weight: 700;
}
.educationcourse h4
{
color:#fff;
}


.firstyear {
  color: #0000ff ;
}

.educationbox1 
{
border:2px solid #fff;
width:100%;
margin-bottom: 20%;
margin-left:5%;
border-radius: 0% 20% 0% 20%;
padding: 3%;
}
.educationbox2
{
border:2px solid #fff;
width:100%;
margin-top: 20%;
margin-left: 5%;
border-radius: 0% 20% 0% 20%;
padding: 3%;
}
.educationcourse h5
{
color:#aeaeae;
}
.educationbox3
{
border:2px solid #fff;
width:100%;
margin-top: 20%;
margin-right:5% !important;
border-radius: 0% 20% 0% 20%;
padding: 3%;
}
.educationbox4
{
border:2px solid #fff;
width:100%;
margin-top: 20%;
margin-right: 5%;
border-radius: 0% 20% 0% 20%;
padding: 3%;
margin-left:5%;
}
.educationbox1:hover
{
border:2px solid blue;
background-color: #343434;
}
.educationbox2:hover
{
border:2px solid blue;
background-color: #343434;
}
.educationbox3:hover
{
border:2px solid blue;
background-color: #343434;
}
.educationbox4:hover
{
border:2px solid blue;
background-color:#343434;
}

/* PROJECT PAGE START FROM HERE */
.projectvideo h4
{
color: #0000ff;
font-weight: 700;
font-size: 30px;
font-family: 'Times New Roman', Times, serif;
}
.ProjectDetails p
{
  padding:5px;
  color: #fff;
}
.projectboxx:hover {
  background-color: #f0f0f0; /* Change background color */
  border-color: #00A1E5; /* Change border color */
  transform: scale(1.05); /* Slightly enlarge the box */
}
.projectboxx {
  border: 3px solid #08D665;
  border-radius: 10px;
  width: 100%;
  margin-top: 10% !important;
  transition: all 0.5s ease-in-out; /* Smooth transition for all properties */
}
.projectboxx:hover .ProjectDetails p {
  color: #000; /* Change text color on hover */
}
.projectboxx:hover .projectvideo h4 {
  color: #08d665; /* Change text color on hover */
}


@media only screen and (max-width: 600px) 
{
  .headdddd
{
  position: fixed;
}
.experience 
{
  padding-top: 20%;
}

.aboutme 
{
  padding-top: 10%;
}
.who  
{
  padding-top: 0 !important;
}
.contactheading
{
  padding-top:20%;
}
.servicesicanprovide
{
  padding-top: 20%;
}
.projectsdonebyme hr
{
  border-bottom: 2px solid #08D665;
  position: relative;
  width: 15% !important;
  left: -50px;
  top: 0px;
}
.projectsdonebyme
{
  padding-top:20% !important;
}
}
.projectsdonebyme hr
{
  border-bottom: 2px solid #08D665;
  position: relative;
  width: 5%;
  left: -50px;
  top: 0px;
}
.donebyme
{
  position: relative;
  font-weight: 700;
  top:-35px;
  padding-left:85px;
  color:#fff;
}
.projectboxx video
{
  margin-right: 5%;
}